@page "/delete"
@model CredentialDeleteModel     
@inject Microsoft.Extensions.Options.IOptionsSnapshot<PasswordlessOptions> passwordlessOptions
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Home page";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<h1>Confirm delete</h1>
<p>Are you sure you want to delete the credential?</p>

<form method="post">
  <input type="text" asp-for="CredentialId" />
  <input type="submit" value="Delete" class="btn btn-danger" /> |
  <a asp-page="./List">Back to List</a>
</form>
