@page "/credential/delete/{userId}/{credentialId}"
@model CredentialDeleteModel
@inject Microsoft.Extensions.Options.IOptionsSnapshot<PasswordlessOptions> passwordlessOptions
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Home page";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<h1>Confirm delete</h1>
<p>Are you sure you want to delete the credential?</p>

<form method="post">
  <input type="hidden" asp-for="CredentialId" />
  <input type="submit" value="Delete" class="btn btn-danger" />
  <a asp-page="User" asp-route-userid=@Model.UserId class="btn btn-link">Back</a>
</form>