@page "/credentials/list"
@model ListModel
@inject Microsoft.Extensions.Options.IOptionsSnapshot<PasswordlessOptions> passwordlessOptions
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Home page";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div>
  <h1 class="display-4">Server</h1>
  
  <div>
    <h1>Users</h1>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Aliases</th>
            <th scope="col">Credentials count</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var user in Model.Users)
          {
            <tr>
              <th scope="row"><a asp-page="/credentials/user" asp-route-userid="@user.UserId">@user.UserId</a></th>
              <td>Encrypted</td>
              <td>1</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <h4>Todo</h4>
     <ul>
      <li>✅ Add API endpoint to list all credentials</li>
      <li>✅ Remove credentials</li>      
      <li>Add API endpoint to see audit logs</li>
    </ul>
  </div>
</div>